<h1>購物車</h1>
<%= render 'carts/cart' %> 
<%= link_to '清空購物車', cart_path, method: :delete, class: "btn btn-default btn-danger" %>
<%= link_to '繼續選購', products_path, class: "btn btn-warning" %>
<%= link_to '結帳', checkout_cart_path, class: "btn btn-default" %>